<style>

body{
background-color: rgb(100,100,25);
    
}
.main{
    font-size : 100px;
    font-style : italic;
    text-align : center;
}
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 50px;
}

/* Create the animation blocks */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}




/* Spinning, gradient circle; CSS only! */
#advanced {
	width: 150px;
	height: 150px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}

    

</style>

<style type="text/css">
 
    body {
        background:url(/assets/bono.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 
</style>

<div class="main">
    ! 로 또 추 첨 !
</div>

<div class="container" style="margin-top: 30px">
    
    <% @lotto.each do |number| %>
        <div id="advanced" class="circle"><%= number %></div>
    <% end %>
